* {
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0 auto;
}

input {
    width: 90%;
    max-width: 500px;
    height: 40px;
    margin: 20px auto;
    padding-left: 10px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 5px;
    font-size: smaller;
}
input:focus{
    outline: none;
}

.gallery {
    display: grid;
    max-width: 860px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin: auto;
    align-items: left;
    margin-bottom: 50px;
    
}



